%h2 Connected lists with limited drop targets
.row
  .span12.example
    %pre(lang="js")= example("limited_drop_targets")
  .span4
    %ul
      %li
        %strong Limit the drop targets
        of the dragged item
      %li
        Customize
        %strong serialization
        of the lists
      %li
        Decrease sort
        %strong sensitivity
      %li
        Start dragging after a
        %strong distance
        has been met
    %p= show_code_button
    %h3 Serialize result
    %pre#serialize_output
  .span4
    %ol.limited_drop_targets.vertical
      = iterate(6,"Item") do |i,name|
        - if i % 2 == 0
          %li.highlight= name
        - else
          %li= name
  .span4
    %ol.limited_drop_targets.vertical
      = iterate(6,"Item") do |i,name|
        - if i >= 3
          %li.highlight= name
        - else
          %li= name
