%h2 Toggable nested lists
.row
  .span12.example
    %pre(lang="js")= example("nested_with_switch")
  .span4
    %ul
      %li
        %strong Nest lists
        of arbitrary depth
      %li Highlight the current container
      %li
        %strong Enable/disable
        lists
    %p= show_code_button
  .span4
    .switch-container
      .switch.active(data-toggle="switch" data-on="ON" data-off="OFF")
    %ol.nested_with_switch.vertical
      = iterate(6) do |i, name|
        %li
          = name
          - if i == 3
            %ol
              = iterate(6) do |j, name|
                %li= name
  .span4
    .switch-container
      .switch.active(data-toggle="switch" data-on="ON" data-off="OFF")
    %ol.nested_with_switch.vertical
      = iterate(6) do |i, name|
        %li
          = name
          - if i == 3
            %ol
              = iterate(6) do |j, name|
                %li= name
