%h2 Sort handle and limited drag/drop
.row
  .span12.example
    %pre(lang="js")= example("simple_with_no_drop")
  .span4
    %ul
      %li
        Drag the items by a
        %strong handle
      %li
        Pure
        %strong drag/drop
        container
      %li
        %strong Clone
        items on drag
    %p= show_code_button
  .span4
    %h3 I'm draggable and droppable
    %ol.simple_with_drop.vertical
      = iterate(6,"Item") do |i,name|
        %li
          %i.icon-move
          = name
  .span4
    %h3 I'm only draggable
    %ol.simple_with_no_drop.vertical
      = iterate(3,"Item") do |i,name|
        %li.highlight
          %i.icon-move
          = name
    %h3 I'm only droppable
    %ol.simple_with_no_drag.vertical
      = iterate(3,"Item") do |i,name|
        %li
          %i.icon-move
          = name
