%h2 Connected lists with drop animation
.row
  .span12.example
    %pre(lang="js")= example("simple_with_animation")
  .span4
    %ul
      %li
        Define your own
        %strong drop animation
      %li
        Connect lists by placing them in the same
        %code group
      %li
        Only sort if the cursor is
        %strong above a container
    %p= show_code_button
  .span4
    %ol.simple_with_animation.vertical
      = iterate(6,"Item") do |i,name|
        %li= name
  .span4
    %ol.simple_with_animation.vertical
      = iterate(6,"Item") do |i,name|
        %li.highlight= name
